.background {
    height: 100vh;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1;
}

.background > img{
    width: 100% ;
    height: auto;
    filter: blur(5px);
    
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:200px;
    width: 600px;
    background-color: white;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.header-logo{
    width: 40px;
}
.header-text{
    color: #47b7ff;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;

}

.underline { 
    width: 60px;
    height: 6px;
    background-color: #47b7ff;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;

}

.input > img {
    margin: 0 30px;
    width: 30px;
}

.input > input {
    height: 50px;
    width: 400px;
    background: transparent;
    border:none;
    outline:none;
    color: #797979;
    font-size: 19px;
}
.recover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}
.forgot-password{
    margin-top: 27px;
    color: #47b7ff;
    font-size: 18px;
}
.underline-2{
    text-align: center;
    width: 60px;
    height: 3px;
    background-color: #47b7ff;
    border-radius: 9px;
    transition: width 0.3s, background-color 0.3s;
   
}
.underline-hover{
    width: 80px;
    text-align: center;
    height: 3px;
    background-color: #47b7ff;
    border-radius: 9px;
    transition: width 0.3s, background-color 0.3s;
    
}


.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background-color: #47b7ff;
    border-radius: 50px ;
    font-size:19px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}
.submit:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}
.gray{
    background-color: #eaeaea;
    color: #676767;
    
}
.gray:hover{
    background-color: #eaeaea; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}

