.contact {
    margin: 0 auto;
    max-width: 80%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 80px;
    margin-bottom: 80px;
}
.title{
    margin-bottom: 50px;
}
.title > h1 {
    color: black;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.title > h1 > span {
    color: #47b7ff;
}

.title > p {
    color: black;
    font-size: 20px;
    font-weight: 500 ;
}

.form {
    width: 100%; 
}
.row {
    display: flex; 
    justify-content: space-between; 
    margin: 10px 0; 
}

.input-group {
    flex: 1; 
    margin-right: 50px; 
}

.input-group:last-child {
    margin-right: 0; 
}

.row label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.form input,
.form select,
.form textarea {
    width: 100%; 
    padding: 10px;
    margin: 10px 0; 
    border: none; 
    border-bottom: 2px solid #ccc; 
    border-radius: 0;
    transition: border-color 0.3s; 
    font-size: 16px;
}

.form input::placeholder,
.form select::placeholder,
.form textarea::placeholder {
    font-size: 14px; 
    font-weight: bold;
    color: #aaa;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    border-bottom: 2px solid #47b7ff;
    outline: none; 
}

.form button {
    background-color: #47b7ff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    font-size: 16px; 
}

.form button:hover {
    background-color: #3a9bcf; 
}

.form textarea {
    resize: none; 
}
.form > a > button {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    background-color: #47b7ff; 
    border: 3px solid #47b7ff; 
    padding: 0; 
    margin-left: 230px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}
.form > a > button:hover {
    background-color: #47a6ff; 
    border: 3px solid #47b7ff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
    
}
.form > a > button > span{
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}